@charset "UTF-8";

// Site header
#site_header {
	@media (min-width:$small) {
		padding: 1.6rem 0;
	}

	.site_logo {
		padding: 1.6rem 0;
		display: inline-block;
		transition: color 0.5s ease;
	}
	
	.hamburger {
		float:right;
		margin-right: -1rem;
		z-index: 100;
		@media (min-width:$small) {
			display:none;
		}
	}

	.column {
		position: relative;
		z-index: 50;
		&:first-of-type {
			z-index: 60;
		}
	}

	#main_nav {
		position: absolute;
		top: -25.5rem;
		right: -2.8rem;
		background: $color-secondary;
		width: 100vw;
		padding: 8rem 1rem 1.6rem 1rem;
		transform: translateY(-100%);
		transition: transform 0.5s ease;
		&.is_open {
			transform: translateY(0%);
		}
		@media (max-width:$medium) {
			padding-top:26rem;
		}
		@media (min-width:$small) {
			ul {
				list-style: none;
				margin: 0;
				padding-left: 0;
			}
				
			li {
				display: block;
				float: left;
				padding: 1rem;
				position: relative;
				text-decoration: none;
				transition-duration: 0.5s;
				&:focus-within {
					cursor: pointer;
					a {
						outline: none;
					}
				}
			}
				
			ul li {
				ul {
					background: white;
					visibility: hidden;
					opacity: 0;
					box-shadow:     0      1px      10px       rgba(50,50,50,0.15);
					min-width: 17rem;
					position: absolute;
					transition: all 0.5s ease;
					margin-top: 1rem;
					left: 0;
					display: none;
					z-index: 300;
					@media (max-width:$medium) {
						position: relative;
					}
				}
				
				&:hover > ul, &:focus-within > ul {
					visibility: visible;
					opacity: 1;
					display: block;
				}
				
				ul {
					&:hover, &:focus {
						visibility: visible;
						opacity: 1;
						display: block;
					}
				
					li {
						clear: both;
						width: 100%;

						ul {
							position: absolute;
							left:170px;
							margin-top: -30px;
							z-index: 400;
							@media (max-width:$medium) {
								position: relative;
								left:0;
								margin-top:0;
							}
						}
					}
				}
			}
		}
		@media (max-width:$medium) {
			.menu {
				li {
					width:100%;
					position: relative;
					a {
						padding:0;
						margin:2rem 1.5rem;
					}
					ul {
						visibility: hidden;
						display: none;
						opacity: 0;
						-webkit-animation: fadeIn 0.5s;
						animation: fadeIn 0.5s;
					}
					&:hover > ul, &:focus-within > ul {
						visibility: visible;
						opacity: 1;
						display: block;
					}
					&:focus-within > a, &:hover a {
						&::after {
							transform:rotate(0deg);
						}
					}
				}
				&>li {
					&>a {
						&::after {
							display: block;
							width: 0;
							height: 0;
							border: 8px inset;
							content: "";
							border-bottom-width: 0;
							border-top-style: solid;
							border-color: white transparent transparent;
							position: absolute;
							top: 5px;
							margin-top: -3px;
							right: 1rem;
							transform:rotate(-90deg);
						}
					}
					&>.sub-menu {
						&>li.menu-item-has-children {
							&>a {
								&::after {
									display: block;
									width: 0;
									height: 0;
									border: 6px inset;
									content: "";
									border-bottom-width: 0;
									border-top-style: solid;
									border-color: white transparent transparent;
									position: absolute;
									top: 10px;
									margin-top: -3px;
									right: 1rem;
									transform:rotate(-90deg);
								}
							}
						}
					}
				}
			}
		}
		ul {
			flex-direction: column;
			align-items: flex-end;
			@media (max-width:$medium) {
				align-items: flex-start;
			}
			li {
				margin-bottom:1rem;
				a {
					margin: 0;
					color: $color-tertiary;
				}
			}
		}
		
		@media (min-width:$small) {
			position: relative;
			top: calc(50% - .8rem);
			right: auto;
			background: none;
			width: auto;
			padding: 0;
			transform: none;
			ul {
				flex-direction: row;
				li {
					margin-bottom:0;
					a {
						margin: 0;
						color: $color-primary;
					}
				
				}
				li:last-child {
					a {
						margin-right: -1.6rem;
					}
				}
			}
		}
	}

	&.mobile_menu_open {
		.site_logo {
			color:$color-tertiary;
		}
		.hamburger.is-active .hamburger-inner, .hamburger.is-active .hamburger-inner::before, .hamburger.is-active .hamburger-inner::after {
			background-color: $color-tertiary;
		}
	}
}


@-webkit-keyframes fadeIn {
    from { opacity: 0; }
      to { opacity: 1; }
}
@keyframes fadeIn {
    from { opacity: 0; }
      to { opacity: 1; }
}