// Colors
// ––––––––––––––––––––––––––––––––––––––––––––––––––

$color-initial: #fff !default;
$color-primary: #ff0023 !default;
$color-secondary: #606c76 !default;
$color-tertiary: #f4f5f6 !default;
$color-quaternary: #d1d1d1 !default;
$color-quinary: #e1e1e1 !default;


// Fonts
// ––––––––––––––––––––––––––––––––––––––––––––––––––
$header-font-family: "Roboto", sans-serif;
$body-font-family: "Roboto", sans-serif;


// Breakpoints
// ––––––––––––––––––––––––––––––––––––––––––––––––––
$xsmall: 375px; 
$small: 640px;
$medium: 1000px;
$large:	1200px;
$xlarge: 1600px;
$xxlarge: 1900px;
$grid-width: 1120px;

$screen-breakpoints: (
  xs: $xsmall,
  sm: $small,
  md: $medium,
  lg: $large,
  xl: $xlarge,
  xxl: $xxlarge
);

$breakpoints-keys: map-keys($screen-breakpoints);
$breakpoints-values: map-values($screen-breakpoints);
@for $i from 1 to length($breakpoints-keys)+1 {
  @if $i < length($breakpoints-keys) {
    .hidden-#{nth($breakpoints-keys, $i)} {
      @media (min-width: nth($breakpoints-values, $i)) and (max-width: #{nth($breakpoints-values, $i+1)}) {
        display: none;
      }
    }
  } @else {
    .hidden-#{nth($breakpoints-keys, $i)} {
      @media (min-width: nth($breakpoints-values, $i)) {
        display: none;
      }
    }
  }
}