// Colors
// ––––––––––––––––––––––––––––––––––––––––––––––––––

$color-initial: #fff !default;
$color-primary: #ff0023 !default;
$color-secondary: #606c76 !default;
$color-tertiary: #f4f5f6 !default;
$color-quaternary: #d1d1d1 !default;
$color-quinary: #e1e1e1 !default;


// Fonts
// ––––––––––––––––––––––––––––––––––––––––––––––––––
$header-font-family: "Roboto", sans-serif;
$body-font-family: "Roboto", sans-serif;


// Breakpoints
// ––––––––––––––––––––––––––––––––––––––––––––––––––
$xsmall: 375px; 
$small: 640px;
$medium: 1000px;
$large:	120px;
$xlarge: 1600px;
$xxlarge: 1900px;
$grid-width: 1120px;
